manifest {
    name            = 'YidanSunResearchLab/nf-LongIso'
    description     = 'Nextflow pipeline for long-read isoform and TE analysis'
    author          = 'Jiang from Sun Lab'
    homePage        = 'https://github.com/YidanSunResearchLab/nf-LongIso'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.0'
    version         = '0.1.0'
}

// --- ENVIRONMENT SETTINGS ---
env {
    TMPDIR             = "${launchDir}/nxf_tmp"
    tempDir            = "${launchDir}/nxf_tmp"
    APPTAINER_TMPDIR   = "${launchDir}/nxf_tmp"
    SINGULARITY_TMPDIR = "${launchDir}/nxf_tmp"
}

// Create tmp dir on launch if it doesn't exist
launchDir.resolve("nxf_tmp").mkdirs()

// --- PARAMETERS ---
params {
    // Input / Reference
    samplesheet     = null 
    genome          = null 
    gtf             = null 
    te_gtf          = null 
    input_type      = 'fastq'
    
    // Resource Defaults
    outdir          = 'results'
    max_cpus        = 64
    max_memory      = '250 GB'
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir   = "${projectDir}/singularity_cache"
        singularity.pullTimeout = '1 h' 
    }
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
}

// --- PROCESS RESOURCE DEFAULTS ---
process {
    cpus   = { Math.min(8, params.max_cpus as int) }
    memory = '16 GB'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1

    publishDir = [
        path: { "${params.outdir}/${task.process.replace(':','_')}" },
        mode: 'copy'
    ]

    // --- Container & Resource Overrides (Using Quay.io for stability) ---

    withName: MINIMAP2 {
        container = 'docker://quay.io/biocontainers/minimap2:2.28--he4a0461_0'
        cpus      = { params.max_cpus }
        memory    = '64 GB'
    }
    
    withName: 'SAMTOOLS_SORT|EXTRACT_JUNCTIONS' {
        container = 'docker://quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'
        cpus      = 16
        memory    = '32 GB'
    }
    
    withName: MAKE_BIGWIG {
        container = 'docker://quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0'
        cpus      = 32
        memory    = '64 GB'
    }
    
    withName: 'BAMBU.*' {
        container = 'docker://quay.io/biocontainers/bioconductor-bambu:3.12.1--r44he5774e6_0'
        cpus      = { task.process == 'BAMBU_PREP' ? 4 : 32 }
        memory    = { task.process == 'BAMBU_PREP' ? '16 GB' : '200 GB' }
    }

    withName: PROACTIV {
        container = 'docker://quay.io/biocontainers/bioconductor-proactiv:1.16.0--r44hdfd78af_0'
        cpus      = 16
        memory    = '64 GB'
    }

    withName: ISOSWITCH {
        container = 'docker://quay.io/biocontainers/bioconductor-isoformswitchanalyzer:2.6.0--r44h3df3fcb_0'
        cpus      = 16
        memory    = '128 GB'
    }

    withName: MULTIQC {
        container = 'docker://quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
        cpus      = 4
        memory    = '8 GB'
    }
    
    withName: TE_ANALYSIS {
        container       = 'docker://quay.io/biocontainers/bedtools:2.31.1--h13024bc_3'
        memory          = '64 GB'
    }
    withName: SUPPA2 {
        container       = 'docker://quay.io/biocontainers/suppa:2.4--pyhdfd78af_0'
    }
    
    withName: 'DESEQ2|TE_DESEQ2' {
        container       = 'docker://quay.io/biocontainers/bioconductor-deseq2:1.46.0--r44he5774e6_1'
    }

}


